menuconfig APP_PROXY1
    bool "Proxy Applications"
    depends on LIB_SEL4 && HAVE_LIBC && LIB_SOS
    default y
    select HAVE_SEL4_APPS
    help
        Network proxy.

config APP_PROXY_TEMP_CONTROL
    bool "Temperature Controller"
    depends on APP_PROXY1
    default n

config APP_PROXY_SENSOR
    bool "Sensor"
    depends on APP_PROXY1
    default n

config APP_PROXY_FAN
    bool "Fan"
    depends on APP_PROXY1
    default n

